.contact-us{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0rem;
}

.Customer-relations{
    background-color: rgb(253, 253, 253);
    width: 20rem;
    height: 30rem;
    align-items: center;
    display: grid;
    justify-content: center;
    border: 3px rgb(56, 51, 51);
}

.submit-form{
    background-color:azure;
    width: 20rem;
    height: 30rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.btn-btn{
    border: none;
    background-color: aqua;
    width: 5rem;
}

.btn-btn:hover{
    background-color: white;
    color: black;
}
.customer{
    font-family: "Simonetta", serif;
    font-style: italic;
}
.address{
    height: 10rem;
    width: 40rem;
    background-color: white;
    margin-bottom: 1rem;
    margin-left: 17rem;
    border: 1px solid black;
    display: flex;
}

.section1{
    width: 9rem;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 h4{
    font-family: "Simonetta", serif;
    font-style: italic;
}

.section2{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 100%;
}

.section2 span{
    font-family: "Simonetta", serif;
    font-style: italic;
}

@media only screen and (max-width:1024px){

    .Customer-relations {
        display: none;
        width: 100%;
    }
    .address{
        display: none;
        width: 100%;
    }
    .contact-us{
        width: 100%;
    }
}