.images{
    height: 12.5rem;
    width: 12.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.cake-name{
    text-decoration: none;
    color: cadetblue;
    margin-left: .5rem;
}

.cart-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}