.feedback-section1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 100%;
    background-color: aliceblue;
}

.feedback-section1 h1{
    font-family: "Simonetta", serif;
    font-style: italic;
}
.feedback-section2 p{
    font-family: "Simonetta", serif;
    font-style: italic;
}
.feedback-section2{
    display: grid;
    align-items: center;
    justify-content: center;
}
.form input{
    width: 30rem;
}
.form{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.btn-btn{
    border: none;
    background-color: aqua;
    width: 20rem;
    margin-bottom: 2rem;
}

.btn-btn:hover{
    background-color: white;
    color: black;
}

@media only screen and (max-width: 1024px) {
    .form{
        width: 100%;
    }
    .form input{
        width: 20rem;
    }
    .feedback-section2 p{
        font-size: 0.7rem;
    }
}